<footer class="container">
	<div class="row">
	    <div class="large-12 columns">
	      <div class="footer-outline">
	        <div class="footer-content">
	          <div class="footer-links">
	          	<a href="http://thebakery.io/jobs"><strong>Jobs</strong></a>
	            <a href="https://github.com/bakery" target="_blank"><i class="fa fa-github"></i></a>
	            <a href="https://facebook.com/thisisbakery" target="_blank"><i class="fa fa-facebook"></i></a>
	            <a href="http://twitter.com/bakeryHQ" target="_blank"><i class="fa fa-twitter"></i></a>
	          </div>
	          <p class="copyright">© 2016 The Bakery Studios.</p>
	        </div>
	      </div>
	    </div>
	</div>
</footer>